.container {
    width: 100%;
    min-height: 100vh;
    background-color: var(--grey-color);
    padding-bottom: 24px;
    padding-inline: 32px;
    
    color: var(--white-color);
    text-align: center;

    overflow: hidden;
}