.footer {
    --primary-color: rgb(0, 0, 0);
    --secundary-color: rgb(149, 1, 1);
    --text-primary-color: rgb(149, 1, 1);
    --text-secundary-color: rgb(255, 255, 255);

    position: absolute;
    width: 100%;
    height: auto;

    background-color: var(--primary-color);
    border-top: 3px solid var(--secundary-color);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-block: 16px;
    padding-left: 12px;
    padding-right: 12px;

    .app {
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 32px;

        font-family: var(--font-family);
        color: var(--text-secundary-color);
    }

    .name {
        font-size: 20px;
        font-weight: 900;
        align-self: center;
    }

    .info {
        font-size: 16px;
        font-weight: 500;
        align-self: center;
    }

}