.banner {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 70px;
    
    border-bottom: 3px solid var(--strong-red-color);

}